.canvas {
    border: 1px black dotted;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  
  #canvas-draft {
    background-color: transparent;
  }
  body {
    overflow: hidden;
  }
  #canvas-container {
    height: 600px;
  }
  .btn-circle-l {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
}
  #current-color-circle {    
    position: absolute;
}
#small-circle {
  position: relative;
  width: 50;
  height: 50; 
  background-color: var(--first-fill-color);
  border-radius: 25px;
  top: 25px;
  left: 10px;
  z-index: 1;
}
#big-circle {
  position: relative;
  width: 70;
  height: 70; 
  background-color: var(--first-border-color);
  border-radius: 35px;
  border: 1px solid;
  top: -35;
}
#color-square {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}
#brush-sliders {
  display: flex;
  padding-left: 9px;
  padding-right: 9px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}